.form-wrapper form {
  width: 70%;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  justify-items: center;
  border: 1px solid #a3a3a3;
  padding: 8px;
}

.tip {
  display: none;
  font-size: 12px;
}

.field {
  display: grid;
  align-items: center;
  width: 160px;
}

.stock-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #a3a3a3;
}

.stock-container > * {
  text-align: center;
  margin: 20px;
}