body {
  margin: 0;
}

.home {
  display: grid;
  width: 70%;
  margin: auto;
}

.login {
  width: 20%;
  margin: 10px auto;
  display: grid;
  justify-content: center;
  border: 1px solid #cfcfcf;
  padding: 10px;
  background: rgb(243, 243, 243);
}

.form-wrapper form {
  /* width: 70%; */
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-content: center;
  justify-items: center;
  border: 1px solid #a3a3a3;
  padding: 8px;
}

.header-wrapper {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.filter-wrapper form {
  /* width: 80%; */
  height: 200px;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
  border: 1px solid #a3a3a3;
  border-right: none;
  padding: 8px;
}

.stats-wrapper .grid {
  /* width: 40%; */
  height: 200px;
  margin: 0 auto 50px auto;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
  border: 1px solid #a3a3a3;
  padding: 8px;
}

.grid p {
  /* margin-left: 20px; */
}

.btm-center {
  grid-column: 1 / -1;
  margin: auto;
}

.btm-right {
  grid-column: -1;
  align-self: end;
  margin-bottom: 14px;
}

button {
  transition: 0.5s ease-in-out;
  background: rgb(0, 68, 255);
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px;
  border-radius: 10px;
  /* max-width: 100px; */
}

button:hover {
  transition: 0.5s ease-in-out;
  transform: scaleY(1.2);
  background: rgb(0, 0, 65);
}

.x-out {
  background: rgb(255, 0, 0);
  color: white;
  font-size: 16px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.filter-wrapper, .form-wrapper, .stats-wrapper {
  text-align: center;
}

.green {
  color: green;
}

.red {
  color: red;
}

.tip {
  width: 200px;
  background: rgb(32, 32, 32);
  color: white;
  padding: 10px;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  position: fixed;
  font-size: 15px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.off {
  display: none;
}

.field {
  display: grid;
  align-items: center;
  width: 160px;
}

.stock-container {
  /* width: 60%; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  border: 1px solid #a3a3a3;
}

.stock-container > * {
  text-align: center;
  margin: 20px;
}

.symbol-caps {
  text-transform: uppercase;
}

.stock-win {
  background: darkgreen;
  width: 30%;
  justify-self: center;
  padding: 5px;
  color: white;
  border-radius: 40px;
}

.scratch {
  background: rgb(82, 82, 82);
  width: 30%;
  justify-self: center;
  padding: 5px;
  color: white;
  border-radius: 40px;
}

.stock-lose {
  background: rgb(100, 0, 0);
  padding: 5px;
  width: 30%;
  justify-self: center;
  color: white;
  border-radius: 40px;
}

.user-login-bar {
  font-size: 18px;
}

.win-percent {
  text-align: center;
  display: grid;
  align-items: center;
}

.header {
  font-size: 34px;
}

.subheader {
  font-style: italic;
}

.filter-stats-grid {
  width: 100%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1740px) {
  .form-wrapper form {
    /* max-width: 60%; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 20px;
  }

  .filter-wrapper form {
    /* grid-template-columns: 1fr; */
    /* width: 40%; */
  }
  .stats-wrapper .grid {
    /* display: block; */
    text-align: center;
    /* width: 90%; */
  }
}

@media (max-width: 1200px) {
  .stock-container {
    width: 100%;
  }

  .home {
    width: 100%;
    display: block;
  }
}

@media (max-width: 1000px) {
  .form-wrapper form {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .filter-stats-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .stock-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .hide-mobile {
    display: none;
  }
}